<%- include ../partials/header %>  <%- include ../partials/categories-navbar %>



<div class="container">
  <h2 style="text-align: center;">User Profile</h2>
  <div style=" text-align: center;">
  </div>


  <% if(errorMsg) {%>
    <div id="flash-msg" class="alert alert-danger">
      
      <p>
        <%=errorMsg %>
      </p>
      
    </div>
    <%}%>


  <form method="post" action="/user/updatepassword" >
    <div class="form-group">
      <label for="exampleInputEmail1">New Password</label>
      <input type="text" class="form-control" id="fdfd" name="pass"  required="true" >
      
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Confirm Password</label>
      <input type="text" class="form-control" id="fdfd" name="confirmpass"  required="true" >
      
    </div>
    
    
    
   
    <input type="hidden" name="id" value="<%= user._id %>" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<%- include ../partials/footer %>
