<span>
  <a class="page-link" href="<%=actionHome%>/view/<%= product._id %>">View</a>
  <a class="page-link" href="<%=actionHome%>/edit/<%= product._id %>">Edit</a>
  <a class="page-link" href="<%=actionHome%>/delete/<%= product._id %>">Delete</a>
</span>
