<!DOCTYPE html>
<html>
  <head>
    <% if (pageName) { %>
    <title>My Website | <%= pageName %></title>
    <%} else {%>
    <title>Shopping Cart</title>
    <% } %>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- <script
      src="https://kit.fontawesome.com/91abd10b8f.js"
      crossorigin="anonymous"
    ></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
    <div class="row nav-container mx-auto">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="search-container">
          <form class="form-inline" action="/products/search" method="GET">
            <input
              class="search-input"
              type="search"
              placeholder="Search"
              name="search"
            />
          </form>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12 logo-container">
        <a href="/">
          <!-- <img class="logo-img img-fluid" src="/images/shop-icon.png" alt="logo" /> -->
          <h4 class="logo-title">Online Exchange</h4>
        </a>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12 right-nav">
        <ul>
          <li>
            <a href="/shopping-cart">
              <i class="fas fa-shopping-cart"></i> <% if(session.cart) { %>
              <span class="badge badge-pill badge-info"
                ><%= session.cart.totalQty %></span
              >
              <% } else { %>
              <span class="badge badge-pill badge-info">0</span>
              <% } %>
            </a>
          </li>
          <% if (login) { %>
            <li>
              <div class="dropdown1 nav-link">
                <span>
                  <i class="fas fa-info-circle"></i> 
                  <span class="badge badge-pill badge-info " id="noti-count"><%=notifications.length %></span>
                </span>
                <div class="dropdown-content notifications">
                  <ul>
                  <% if (notifications) { %>
                    <% notifications.forEach( notification => { %>
                      <li class="nav-item dis-block"> 
                        <%=notification.message%>
                    </li>
                      <% }) %>
                  <% } %>
                </ul>
                </div>
              </div>
                
                
            </li>
            <li>
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i> Welcome <%=currentUser.username%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/profile">My Orders</a>
              <a class="dropdown-item" href="/user/profileupdate">Profile</a>
              <a class="dropdown-item" href="/user/updatepassword">Change password</a>
              <a class="dropdown-item" href="/supplier-admin">Supplier Dashboard</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/logout">Logout</a>
            </div>
          </li>
          <% } else {%>
          <li>
            <a href="/user/signup"> Sign Up</a>
          </li>
          <li>
            <a href="/user/signin"> Sign In</a>
          </li>
          <% }%>
        </ul>
      </div>
      <input type="checkbox" id="noticheck" class="hidden"/>
      <input type="hidden" id="baseurl" class="hidden" value="<%=baseUrl%>"/>
    </div>




    <script>
      $(function() {
          // require socker.io
          
          let url = $('#baseurl').val()

          url = url + '/user/notificationsstatuschange'
          $('.dropdown1').click(function(){
           
            if(!($('#noticheck').is(':checked')))
            {
              $.ajax({url, success: function(result){
                //$("#div1").html(result);
                // alert('fdsf')
              }});
            }
            else{
              $('#noti-count').text(0)
            }
            $('.dropdown-content.notifications').toggle()
            $('input[type=checkbox]').click();
          })
          


          

      });
  </script>