<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container-fluid">
  <!-- Flash messages -->
  
  <!-- Breadcrumbs -->
  <div class="row mt-2">
    <div class="col-md-12 m-auto">
      <%if (breadcrumbs) { %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <% breadcrumbs.forEach(crumb => { if(!crumb.name.startsWith("?")){%>
          <li class="breadcrumb-item" aria-current="page">
            <a href="<%=crumb.url%>"><%= crumb.name %></a>
          </li>
          <%}})%>
        </ol>
      </nav>
      <%} %>
    </div>
  </div>
  <!-- Page banner image -->

  <div class="row mt-2">

  </div>
    <div class="col-md-12 m-auto">
      <a href="/supplier-admin/products/add" class="primary btn-primary btn ">Add new</a>
    </div>
  </div>
  <% if(pageName == 'All Products') { %>
  <div class="text-center hero-container">
    <img
      class="d-block w-100 hero-image"
      src="/images/banner-all-products.jpg"
    />
    <div class="hero-text">
      <h1><%=pageName%></h1>
    </div>
  </div>
  <%} else {%> <%categories.forEach( category => {%> <%if(pageName ==
  category.title){%>
  <div class="text-center hero-container">
    <img
      class="d-block w-100 hero-image"
      src="/images/banner-<%=category.slug%>.jpg"
    />
    <div class="hero-text">
      <h1><%=pageName%></h1>
    </div>
  </div>
  <%}%> <%})%> <%}%>

  <hr class="gradient-style" />
  <!-- Contents -->
  <div class="row pl-4 pr-4">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Available</th>
          <!-- <!-- <th scope="col">Bids</th> -->
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach((product, index) => { %>
        <tr>
          <td scope="row"><%= index + 1 %></td>
          <td class="w-img-100"> <img src="/uploads/<%= product.imagePath %>" /></td>
          <td><%= product.title %></td>
          <td><%= product.price %></td>
          <% if(product.available) {%>
          <td>Yes</td>
          <% } else { %>
          <td>No</td>
          <%} %>
          <td><a href="/supplier-admin/bids/<%=product._id%>">Show Bids</a> </td>
          <td><%- include ../partials/action-btns %></td>
        </tr>
        <% }) %>
        
      </tbody>
    </table>


  <%- include ../partials/pagination %>
</div>
<%- include ../partials/footer %>
