<%- include ../partials/header %>  
<%- include ../partials/categories-navbar %>

<div class="container">
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-12 m-auto">
      <% if (successMsg) { %>
      <div id="success" class="alert alert-success">
        <%= successMsg %>
      </div>
      <% } else { %>
      <div id="success" class="alert alert-success d-none"></div>
      <% } %>
    </div>
    <div class="col-md-12 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger">
        <%= errorMsg %>
      </div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  
  <!-- Product info -->
  <div class="row mt-4 mb-4">
    <div class="col-md-5 mt-2 mr-2 ml-auto">
      <img src="/uploads/<%= product.imagePath %>" class="img-fluid product-img" alt="product image" />
    </div>
    <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
      <h2><%= product.title %></h2>
      <hr />
      <p class="price">USD $<%= product.price %></p>
      <p class="lead"> Description: 
        <p><%= product.description %></p>
      </p>
      <p><strong>Category:</strong> <%= product.category.title %></p>
      <p><strong>Product code:</strong> <%= product.productCode %></p>
      <p><strong>Quantity:</strong> <%= product.quantity %></p>
      <p><strong>Date added to the store:</strong> <%= moment(product.createdAt).format('MMMM Do YYYY') %></p>

      <% if (confirmedBid) { %>
        confirmedBid: <%= confirmedBid.amount %>
      <% } %>

      <% if (isBidOpen) { %>
        <div> Highest Bid is <%= highestBid ? highestBid.amount : '' %></div>
        Bid is open
        <form method="post" action="/products/add-bid" onsubmit="return validateBid()">
          <div class="form-group">
            <label for="exampleInputEmail1">Add your Bid</label>
            <input type="number" class="form-control" id="bidAmount" name="amount" min="<%= product.price %>" required>
            <input type="hidden" name="productId" value="<%= product.id %>" /><br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      <% } %>

      <% if (canAddToCart) { %>
        <p class="is-available text-center">In stock</p>
        <a id="add-cart-url" href="/add-to-cart/<%= product._id %>?quantity=1" class="btn btn-block btn-secondary mt-3 mb-3 button-style">
          Add to Shopping Cart
        </a>
        <div>
          <a href="/chat/chatseller/<%= product.user %>" class="btn btn-block btn-secondary mt-3 mb-3 button-style">
            Chat with Seller
          </a>
        </div>
      <% } %>
    </div>
  </div>

  <% if (hasUserOrdered) { %>
    <div class="rating-div">
      Give Rating
      <div class="rating-stars">
        <input type="radio" name="rating" id="rs1" value="1"><label for="rs1"></label>
        <input type="radio" name="rating" id="rs2" value="2"><label for="rs2"></label>
        <input type="radio" name="rating" id="rs3" value="3"><label for="rs3"></label>
        <input type="radio" name="rating" id="rs4" value="4"><label for="rs4"></label>
        <input type="radio" checked="checked" name="rating" id="rs5" value="5"><label for="rs5"></label>
      </div>
      <div>
        <textarea name="comment" id="comment" rows="5"></textarea>
        <input type="hidden" name="productId" id="productId" value="<%= product._id %>"/><br>
      </div>
      <div>
       <button class="btn btn-primary" onClick="submitRating()">Submit</button>
      </div>
    </div>
  <% } %>

  <div>
    <b>Customers Reviews</b>
    <% ratingList.forEach((ratin, index) => { %>
      <div class="row">
        <div class="col-md-2 ">
          Rating: <%= ratin.rating %>
        </div>
        <div class="col-md-8 ">
          Comment: <%= ratin.comment %>
        </div>
       
      </div>
      <% }) %>
      
  </div>
</div>



<script>
  let quan = parseInt($('#p-det-q').html());

  function updateHref(quan) {
    $("#add-cart-url").attr("href", function(i, href) {
      var index = href.indexOf("?");
      return (index == -1 ? href : href.substring(0, index)) + "?quantity=" + quan;
    });
  }

  $('#q-plus').click(function() {
    let quan1 = parseInt($('#p-det-q').html());
    $('#p-det-q').html(quan1 + 1);
    updateHref(quan1 + 1);
  });

  $('#q-minus').click(function() {
    let quan1 = parseInt($('#p-det-q').html());
    if (quan1 > 1) {
      $('#p-det-q').html(quan1 - 1);
      updateHref(quan1 - 1);
    }
  });

  $('input[type=radio][name=rating]').change(function() {
  // alert($(this).val())
    
   
});
  // Function to validate bid amount before form submission
  function validateBid() {
    var bidAmount = parseFloat(document.getElementById('bidAmount').value);
    var minAmount = parseFloat('<%= product.price %>');
    if (bidAmount < minAmount) {
      alert('Bid amount should be greater than or equal to the product price!');
      return false; // Prevent form submission if bid is less than product price
    }
    return true; // Allow form submission if bid is valid
  }

  function submitRating() {
    let url = $('#baseurl').val();             
    url = url + '/products/add-rating';

    let data = {
      rating: $('input[name="rating"]:checked').val(),
      comment: $('#comment').val(),
      productId: $('#productId').val()
    }

    $.ajax({
      url, 
      data: data,
      type: 'POST',
      contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      success: function(result) {
        setTimeout(() => {
          alert('Thanks for the feedback');
          $('#comment').val('');
        }, 300);
      }
    });
  }
</script>

<%- include ../partials/footer %>