<%- include ../partials/header %> 
<%- include ../partials/categories-navbar %>

<div class="container cart">
  <% if (cart != null && !cart.paid) { %>
  <div class="row">
    <div class="col-md-11 col-sm-12 m-auto table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Product</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Quantity</th>
            <th>&nbsp;</th>
            <th>Total</th>
            <th>Subtotal</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% let totalCost = 0; %> <!-- Initialize totalCost variable -->
          <% products.forEach(product => { %> 
          <% if (product != null) { %>
          <tr class="my-auto">
            <td>
              <a href="/products/<%=product.category.slug%>/<%=product._id%>">
                <img src="/uploads/<%=product.imagePath%>" class="img-small image-fluid" alt="image thumbnail" />
              </a>
            </td>
            <td>
              <div class="float-left mb-3">
                <a class="title-link" href="/products/<%=product.category.slug%>/<%=product._id%>">
                  <h6 class="text-left"><%= product.title %></h6> 
                  <p class="text-left">Product No: <%= product.productCode %></p>
                </a>
              </div>
            </td>
            <td class="text-center">
             
            </td>
            <td class="text-center">
              
                <input disabled="disabled" name="quantity" value="<%= product.quantity %>" min="1" class="form-control qty-display pt-1" />
              
            </td>
            <td class="text-center">
              
            </td>
            <td>$<%= product.userBid %></td> <!-- Display price per unit -->
            <td>$<%= (product.userBid * product.quantity).toFixed(2) %></td> <!-- Calculate the subtotal (price * quantity) -->
            <td>
              <a href="/removeAll/<%=product._id%>" class="btn btn-danger btn-sm button-style-danger">Remove all</a>
            </td>
          </tr>
          <% totalCost += (product.userBid * product.quantity); %> <!-- Add the product subtotal to totalCost -->
          <% } %> 
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="row mt-4 mr-auto">
    <div class="col-md-11 col-sm-12 m-auto">
      <strong>Total: $<%= totalCost.toFixed(2) %> </strong> <!-- Display the total cost -->
    </div>
  </div>
  <div class="row mt-2 mr-auto">
    <div class="col-md-11 col-sm-12 m-auto">
      <a href="/checkout" class="btn btn-dark button-style">Checkout</a>
    </div>
  </div>
  <% } else { %>
  <div class="row text-center">
    <div class="col-md-9 col-sm-9 m-auto">
      <h2>No items in the cart</h2>
    </div>
  </div>
  <% } %>
</div>

<%- include ../partials/footer %>
