

<%- include ../partials/header %> <%- include ../partials/categories-navbar %>



<div class="container-fluid">
    <div class="row">
        <div class="col-6">
           
        </div>
        <div class="col-6">
           
           
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <ul class="list-group">
                
                <% for(let i=0; i<destArray.length; i++) { %>
                    <li class="list-group-item">
                        <a href="/chat/chatseller/<%=destArray[i].userFrom._id%>">
                            <%=destArray[i].userFrom.username%>
                            <% if(destArray[i].messageReadTo == false) { %> 
                                <span class="message-dot"><i class="fa-solid fa-circle"></i></span>

                            
                            <% } %> 
                        </a>
                        
                    </li>
                <%}%>
            </ul>
        </div>

    </div>
</div>


<%- include ../partials/footer %>


<script>

window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    // alert('fdsfds')
    window.location.reload();
  }
});
</script>